# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.*

# Logs
*.log
npm-debug.log*

# Build output
dist/
build/
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IDE
.idea/